body {
    margin: 0;    
}

header span {
    margin: 5px;
    background: radial-gradient(#000000, #5b5ad0, #000000);
    border-radius: 50%;
    padding: 25px;
    color: gold;
    font-size: 4em;
    width: 90px;
    display: inline-block;
    text-align: center;
    line-height: 90px;
}

header {
    background-image: url('../images/pattern1.jpg');
}

header > div {
    background: #77738e;
    opacity: 0.92515;
}

header > div h1 {
    text-align: center;
    margin: 0;
    padding: 100px;
}

.carousel {
    margin-top: 20px;
    margin-bottom: 20px;
}

.carousel .carousel-inner figure {
    background: #d7daec;
}

.carousel .carousel-inner img {
    margin: auto;
    display: block;
    width: 95%;
}

.carousel .carousel-inner img.xs {
    max-width: 320px;
}

.carousel .carousel-inner img.sm-425 {
    max-width: 425px;
}

.carousel .carousel-inner img.sm-768 {
    max-width: 768px;
}

.carousel .carousel-inner img.md {
    max-width: 1024px;
}

.carousel .carousel-inner img.lg {
    max-width: 1200px;
}

.carousel .carousel-inner img.xl {
    max-width: 1920px;
}

.rating {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 10px;
    margin: 0;
    height: 1em;
}

.circle {
    display: inline-block;
    box-sizing: border-box;
    width: 1em;
    height: 1em;
    line-height: 1em;
    border: 3px solid #647ddc; 
    padding: 0;
    margin: 0;
}

.filled {
    background: #5b5ad0;
}

.half-filled {
     background: rgba(100, 125, 220, 0.5);
}

.algorithms-item span {
    color: #fdffad;
}

.algorithms-item h4 {
    height: auto;
}

main ul {
    list-style-type: none;
    padding: 0;
    
}

main li {
    box-sizing: border-box;
    background: #a7a6ab;
    box-shadow: 2px 2px 11px 3px #000000;
    margin: 20px auto;
    width: 95%;
}

main li h4 {
    box-sizing: border-box;
    background: radial-gradient(#647ddc,#28284a);
    margin: 0;
    padding: 15px;
    line-height: 1.5em;
    text-align: center;
    color: white;
}

main li div {
    padding: 20px;
}

main li footer {
    padding: 20px;
    background: #3c3c5d;
}

main li footer p {
    color: lightgrey;
    line-height: 0.75em;
}

main li footer p:last-child {
    margin-bottom: 0;
}

#achievements li div p:first-child {
    color: #fdffad;
}

@media all and (min-width:768px) {
    main li {
        display: inline-block;
        width: 300px;
        vertical-align: top;
        margin: 20px;
        
        -ms-transition: transform 1s;
        -o-transition: transform 1s;
        -moz-transition: transform 1s;
        -webkit-transition: transform 1s;
        transition: transform 1s;
    }

    main li:hover {
        -ms-transform: scale(1.5, 1.5);
        -o-transform: scale(1.5, 1.5);
        -moz-transform: scale(1.5, 1.5);
        -webkit-transform: scale(1.5, 1.5);
        transform: scale(1.5,1.5);
    }
    
    main li h4 {
        height: 110px;
    }
    
    #achievements li div p:nth-child(3) {
        height: 5.5em;
        overflow: hidden;
    }
}