body {
    margin: 0;    
}

header span {
    margin: 5px;
    background: radial-gradient(#000000, #5b5ad0, #000000);
    border-radius: 50%;
    padding: 25px;
    color: gold;
    font-size: 4em;
    width: 90px;
    display: inline-block;
    text-align: center;
    line-height: 90px;
}

header {
    background-image: url('../images/pattern1.jpg');
}

header > div {
    background: #77738e;
    opacity: 0.92515;
}

header > div h1 {
    text-align: center;
    margin: 0;
    padding: 100px;
}