body {
    margin: 0;    
}

header {
    height: 280px;
    background-image: url('../images/header-image.png');
}

@media all and (min-width:768px) {
    
    header {
        height: 580px;
    }
}

nav ul {
    background: #384071;
}

nav ul.nav a {
    color: white;
}

nav ul.nav a:hover {
    color: #2260a0;
}

main > section {
    padding: 0 1%;
}

main + footer {
    background: #074367;
    padding: 30px 0;
    text-align: center;
    color: #ffffff;
}

main + footer h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

main + footer p {
    padding: 20px;
    background: radial-gradient(#2260a0, #074367);
    width: 95%;
    margin: auto;
    border-radius: 50px;
}

main + footer a {
    color: white; 
}

main + footer a:hover {
    color: #59c16a;
}

@media all and (min-width:768px) {   
    main + footer p {
        width: 40%;
    }
}